doctype html 
html(lang="en")
	head
		title Landing Page
	body
		h1 "The future home of something awesome"
		p "This is gonna be a happy little seascape. Decide where your cloud lives. Maybe he lives right in here. We spend so much of our life looking - but never seeing."
